	body {
		background-image: url(Images/websitebackground.png);
	}
	


	
	#mainbox{
		opacity:0.8;
	}
	
	#titlebox
	{
		opacity: 0.5;
	}
	
	#Title3
	{
		color: violet;
	}
	
	#Title1
	{
		color: rgb(69, 0, 231);
	}

	.header-background l
	{
		background-color: black;
	}